{% load i18n staticfiles %}
{% csrf_token %}
<div class="row">
    <div class="col-md-6">
        <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
            <label class="control-label">{% trans "First Name" %}</label>

                <input type="text" value="{{ form.first_name.value|default_if_none:'' }}" name="{{ form.first_name.html_name }}"
                       class="form-control" placeholder="{% trans "Your first name" %}">
                {% if form.first_name.errors %}
                    <span class="help-block">{{ form.first_name.errors.as_text }}</span>
                {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
            <label class="control-label">{% trans "Last Name" %}</label>

                <input type="text" value="{{ form.last_name.value|default_if_none:'' }}"
                       name="{{ form.last_name.html_name }}" class="form-control"
                       placeholder="{% trans "And the last one" %}">
                {% if form.last_name.errors %}
                    <span class="help-block">{{ form.last_name.errors.as_text }}</span>
                {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
            <label class="control-label">{% trans "Email Address" %}</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-envelope fa-fw"></i>
                </span>
                <input type="text" value="{{ form.email.value|default_if_none:'' }}"
                       name="{{ form.email.html_name }}" class="form-control"
                       placeholder="{% trans "Type your email" %}"> </div>
                {% if form.email.errors %}
                    <span class="help-block">{{ form.email.errors.as_text }}</span>
                {% endif %}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group {% if form.phone.errors %}has-error{% endif %}">
            <label class="control-label">{% trans "Phone Number" %}</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-phone fa-fw"></i>
                </span>
                <input type="text" value="{{ form.phone.value|default_if_none:'' }}"
                       name="{{ form.phone.html_name }}" class="form-control"
                       placeholder="{% trans "International phone number" %}"> </div>
                {% if form.phone.errors %}
                    <span class="help-block">{{ form.phone.errors.as_text }}</span>
                {% endif %}
        </div>
    </div>
</div>

{% if form.non_field_errors %}
<div class="alert alert-danger">
    {{ form.non_field_errors.as_text }}
</div>
{% endif %}
<div class="alert-wrapper"></div>
{% block page-js %}

{% endblock %}
