{% load i18n staticfiles %}
{% csrf_token %}


      <div class="form-group">
          <label for="cv-name" class="control-label">{% trans "Vacancy Name" %}</label>
          <input name="name" id="cv-name" class="form-control" value="{{ vacancy.name }}"/>
      </div>
      <div class="form-group">
          <label for="cv-description" class="control-label">{% trans "Vacancy Description" %}</label>
          <textarea name="description" id="cv-description" cols="30" rows="5" class="form-control">{{ vacancy.description }}</textarea>
      </div>

      <h4>{% trans "Education" %}</h4>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="cv-speciality" class="control-label">{% trans "Speciality" %}</label>
                  <input name="speciality" id="cv-speciality" class="form-control" value="{{ vacancy.specialization }}"/>
              </div>
          </div>
          <div class="col-md-6">

          <div class="form-group">
              <label for="cv-degree" class="control-label">{% trans "Degree" %}</label>
              <select name="degree" id="cv-degree" class="form-control">
                  {% for key, value in degree_choices %}
                      <option value="{{ key }}" {% if vacancy.degree == key %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
              </select>
          </div>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-6">
              <div class="form-group list-input">
                <label for="" class="control-label">{% trans "Skills" %}</label>
                <div class="list-wrapper">
                {% for skill in vacancy.skills %}
                  <div class="input-group">
                      <div  class="form-control" >{{ skill.name }}</div>
                      <input  type="hidden" name="'+this.htmlName+'" value="{{ skill.name }}" >
                      <span class="input-group-btn">
                        <button class="btn btn-default remove-value" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                      </span>
                  </div>
                {% endfor %}
                </div>
                <div class="input-group">
                  <input type="text" name="skills"  class="form-control" placeholder="{% trans "Skill name" %}">
                  <span class="input-group-btn">
                    <button class="btn btn-primary add-value" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                  </span>
                </div><!-- /input-group -->



              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group list-input">
                <label for="" class="control-label">{% trans "Languages" %}</label>
                  <div class="list-wrapper">
                      {% for language in vacancy.languages %}
                          <div class="input-group">
                              <div  class="form-control" >{{ language.name }}</div>
                              <input  type="hidden" name="'+this.htmlName+'" value="{{ language.name }}" >
                              <span class="input-group-btn">
                                <button class="btn btn-default remove-value" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                              </span>
                          </div>
                        {% endfor %}
                  </div>
                <div class="input-group">
                  <input type="text" class="form-control" name="languages" placeholder="{% trans "Language name" %}">
                  <span class="input-group-btn">
                    <button class="btn btn-primary add-value" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                  </span>
                </div><!-- /input-group -->
              </div>
          </div>
      </div>
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors.as_text }}
    </div>
{% endif %}

