{% load i18n %}
<form action="" method="POST"> {% csrf_token %}
        <div class="form-widget">
            <div class="headline">
                <h3>{% trans "SELECT A NEW PASSWORD" %}</h3>
            </div>
            <div class="caption">
                <div class="form-group  {% if form.new_password1.errors %}has-error{% endif %}">
                        <label for="" class="control-label">{% trans "New password" %}</label>
                        <input type="password"
                               class="form-control" name="{{ form.new_password1.html_name }}"
                               value="{{ form.new_password1.value|default_if_none:'' }}"/>
                        {% if form.new_password1.errors %}
                                    <span class="help-block">{{ form.new_password1.errors.as_text }}</span>
                        {% endif %}
                    </div>
                <div class="form-group  {% if form.new_password2.errors %}has-error{% endif %}">
                        <label for="" class="control-label">{% trans "Repeat password" %}</label>
                        <input type="password"
                               class="form-control" name="{{ form.new_password2.html_name }}"
                               value="{{ form.new_password2.value|default_if_none:'' }}"/>
                        {% if form.new_password2.errors %}
                                    <span class="help-block">{{ form.new_password2.errors.as_text }}</span>
                        {% endif %}
                    </div>
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors.as_text }}
                </div>
                {% endif %}
            </div>
            <div class="widget-footer">
                <button class="btn btn-primary">{% trans "Submit" %}</button>
            </div>
        </div>
</div>
</form>


{% block page-css %}
{{ form.media.css }}
{% endblock %}
{% block page-scripts %}
{{ form.media.js }}
{% endblock %}