{% load i18n %}
{% csrf_token %}
<div class="form-group  {% if form.current_password.errors %}has-error{% endif %}">
        <label for="profile-password" class="control-label">{% trans "Current Password" %}</label>
        <input type="password"  id="profile-password"
               class="form-control" name="{{ form.current_password.html_name }}"
               value="{{ form.current_password.value|default_if_none:'' }}"/>
        <span class="help-block">
                {% if form.current_password.errors %}
                     {{ form.current_password.errors.as_text }}
                {% endif %}
        </span>
</div>
<div class="form-group  {% if form.new_password1.errors %}has-error{% endif %}">
        <label for="profile-password1" class="control-label">{% trans "New password" %}</label>
        <input type="password" id="profile-password1"
               class="form-control" name="{{ form.new_password1.html_name }}"
               value="{{ form.new_password1.value|default_if_none:'' }}"/>
        <span class="help-block">
            {% if form.new_password1.errors %}
                   {{ form.new_password1.errors.as_text }}
            {% endif %}
        </span>
</div>
<div class="form-group  {% if form.new_password2.errors %}has-error{% endif %}">
        <label for="profile-password2"  class="control-label">{% trans "Repeat password" %}</label>
        <input type="password" id="profile-password2"
               class="form-control" name="{{ form.new_password2.html_name }}"
               value="{{ form.new_password2.value|default_if_none:'' }}"/>
        <span class="help-block">
            {% if form.new_password2.errors %}
                        {{ form.new_password2.errors.as_text }}
            {% endif %}
        </span>
</div>
{% if form.non_field_errors %}
<div class="alert alert-danger">
    {{ form.non_field_errors.as_text }}
</div>
{% endif %}
