{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block content %}
<div class="container">

{% if new_account %}
    <div class="alert alert-info">
        <strong>{% trans "Confirmation email was sent." %}</strong>
        {% trans "Please, check your registered mail inbox." %}
    </div>
{% endif %}
{% if business_needed %}
<div class="steps">
    <div class="col-sm-3 widget step-widget active">
            <div class="step-number">1</div>
            <div class="step-content">
                <h3>{% trans "Welcome!" %}</h3>
                <p>{% trans "Please, fill info belo!" %}</p>
            </div>
    </div>

    <div class="col-sm-3 widget step-widget first">
            <div class="step-number">2</div>
            <div class="step-content">
                <h3>{% trans "Payment" %}</h3>
                <p>{% trans "Make sure you can pay!" %}</p>
            </div>
    </div>

    <div class="col-sm-3 widget step-widget first">
            <div class="step-number">3</div>
            <div class="step-content">
                <h3>{% trans "Company " %}</h3>
                <p>{% trans "Business information" %}</p>
            </div>
    </div>

    <div class="col-sm-3 widget step-widget first">
            <div class="step-number">4</div>
            <div class="step-content">
                <h3>{% trans "Ready to go!" %}</h3>
                <p>{% trans "Go ahead, change the world" %}</p>
            </div>
    </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-3">
        <div class="">
                <a href="#" class="btn btn-default btn-xs pull-right profile-userpic-upload" id="userpic-dropzone">
                    <i class="fa fa-photo"></i> {% trans "select" %}</a>
        </div>
        <div class="form-widget">

            <div class="avatar">
                <img src="{{ user.userpic.crop.150x150 }}" class="img-profile-userpic" alt="{{ user.get_full_name }}">
            </div>

            <div class="profile-info">
                <h3 class="profile-usertitle-name">{{ user.get_full_name }}</h3>
                <h4 class="profile-usertitle-job text-center">{{ business.name }}</h4>
            </div>

        </div>
  </div>
  <div class="col-md-9">
      <div class="form-widget">
          <div class="form-headline">
            <span class="form-title">{% trans "Profile Information" %}</span>
            <ul class="nav nav-tabs" data-switch="account-tabs" id="account-tabs-swicher">
                <li class="active toggler">
                    <a href="#personal-info" data-toggle="tab" aria-expanded="true">{% trans "Personal" %} </a>
                </li>
                <li class="toggler">
                    <a href="#business-info" data-toggle="tab" aria-expanded="false">
                        {% trans "Business" %}
                    </a>
                </li>
                <li class="toggler">
                    <a href="#change-password" data-toggle="tab">{% trans "CV Form" %}</a>
                </li>
            </ul>
          </div>
          <div class="widget-content">
              <div id="account-tabs">
                <div class="tab-content open">
                    <form action="" method="POST" id="profile-form">
                        {% include 'forms/account.html' with form=form %}

                        <div class="clearfix">
                            <button class="btn btn-primary btn-submit"
                                data-loading="{% trans "Saving" %}" type="submit">
                            {% trans "Save" %}</button>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default" id="change-password-link">
                                <i class="fa fa-lock"></i> {% trans "Change Password" %}</a>

                                <a href="{% url "password-reset" %}" class="btn btn-link" id="change-password-link">
                                    <i class="fa fa-unlock"></i> {% trans "Reset password" %}</a>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="tab-content">
                    <form action="{% url 'api-organization' %}" method="POST" id="organization-form">
                        {% include 'forms/organization.html' with form=organization_form %}
                    </form>
                </div>
                <div class="tab-content">
                    <form action="{% url 'organization-add' %}" method="POST" id="organization-form">
                        {% include 'forms/cv-account.html' with form=cv_form %}
                        <button class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
          </div>
      </div>

  </div>

</div>
</div>
    <div class="hidden">
        <form action="{% url 'new-password' %}" method="POST" id="password-form">
            {% include 'forms/password-new.html' with form=new_password_form %}
            <div class="clearfix">
                <button class="btn btn-primary">{% trans 'Change password' %}</button>
                <a href="#" class="btn btn-default simodal-close pull-right">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}