{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block content %}
    <div id="homepage-brands"></div>
    <div id="favorite-brands" class="hidden"></div>

    <div class="sidebar sidebar-right " id="categories-sidebar">
            <ul class="sidebar-categories">
                {% for category in categories %}
                <li class="category">
                    <a href="#" class="children-toggler">
                        <img src="{{ category.icon.thumbnail.160x160 }}" style="width: 25px;" alt="{{ category.name }}" class="category-icon">
                        {{ category.name }}
                    </a>
                    <ul class="list-unstyled">
                        {% for child in category.children %}
                        <li><a href="#">{{ child.name }}</a></li>
                        {% endfor %}


                    </ul>
                </li>
                {% endfor %}
            </ul>
    </div>
{% endblock %}

{% block page-css %}
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
{% endblock %}
