{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block content %}
    <div id="homepage-brands"></div>
    <div id="favorite-brands" class="hidden"></div>

    <div class="sidebar sidebar-right " id="categories-sidebar">
            <ul class="sidebar-categories">
                {% for category in categories %}
                <li class="category">
                    <a href="#" class="children-toggler">
                        <img src="{{ category.icon.thumbnail.160x160 }}" style="width: 25px;" alt="{{ category.name }}" class="category-icon">
                        {{ category.name }}
                    </a>
                    <ul class="list-unstyled">
                        {% for child in category.children %}
                        <li><a href="#">{{ child.name }}</a></li>
                        {% endfor %}


                    </ul>
                </li>
                {% endfor %}
            </ul>
    </div>
{% endblock %}

{% block page-css %}
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
{% endblock %}

{% block page-js %}
<script src="{% static 'js/aja/aja.min.js' %}"></script>
<script src="{% static 'js/react/react.js' %}"></script>
<script src="{% static 'js/react/react-dom.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/homepage-widget.js' %}"></script>

<script>
'use strict';
var favorites_wrapper = document.getElementById("favorite-brands");
var main_wrapper = document.getElementById("homepage-brands");
var categories_sidebar = document.getElementById("categories-sidebar");
var sidebar_toggler = document.getElementById("sidebar-toggler");
sidebar_toggler.addEventListener('click', function(event){
    event.preventDefault();
    categories_sidebar.classList.contains('open') ? categories_sidebar.classList.remove('open') :
            categories_sidebar.classList.add('open')
});

(function initFavoritesToggler() {
    var toggler = document.getElementById('favorites-toggler');
    toggler.addEventListener('click', function(event){
        event.preventDefault();
        if(this.classList.contains('active'))
        {
            main_wrapper.classList.remove('hidden');
            favorites_wrapper.classList.add('hidden');
            this.classList.remove('active')
        }
        else
        {
            main_wrapper.classList.add('hidden');
            favorites_wrapper.classList.remove('hidden');
            this.classList.add('active')
        }
    });
})();

var favoritesWidget = new HomepageWidget(favorites_wrapper,
    {
        // list business data from favorites
        url: '{% url 'api-organizations-favorites' %}',
        is_favorite: true,
        showCategories: false,
        // https://www.squarefree.com/securitytips/web-developers.html#CSRF
        csrf_token: "{{ csrf_token }}"
    }
);
{% autoescape off %}

var mainWidget = new HomepageWidget(main_wrapper,
    {
        // list global business data
        url: '{% url 'api-organizations-list' %}',
        is_favorite: false,
        categories: {{ categories_json_tree }},
        // https://www.squarefree.com/securitytips/web-developers.html#CSRF
        csrf_token: "{{ csrf_token }}"
    }
);
{% endautoescape %}
var country_radios = document.getElementsByClassName('country-radio');

Array.prototype.forEach.call(country_radios, function(radio){
    radio.addEventListener('change', function(event){
        var name = this.getAttribute('name'),
            value = this.getAttribute('value');
        var country_map = {
            ru: 'RU',
            hy: 'AM',
            en: 'GB'
        };
        mainWidget.updateQueryParams({
            country: country_map[this.getAttribute('value')]
        })
    })
});
var search_input = document.getElementById('search-input');
search_input.addEventListener('keyup', function(event){
    if(this.value.trim().length >= 3)
    {
        mainWidget.updateQueryParams({
            search: this.value.trim()
        })
    } else if(this.value.trim() == '')
    {
        mainWidget.updateQueryParams({
            search: ''
        })
    }
})

</script>
{% endblock %}
