.simodal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &.open {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.simodal {
  width: 600px;
  margin: 30px auto;
  background-color: #fff;
}
